body {
    padding: 0;
    margin: 0;
}

/* Police */

@font-face {
    font-family: "arlon" ;
    src: url(../fonts/FontsFree-Net-Arlon-Bold.ttf);
}


/* NavBar */

header {

    background-position : 10% 30%;
    background-image: url(../images/header.jpg);
        height: 70vh;
        width: 100%;
        background-position: 10% 30%;
        object-fit: cover;
        background-size: 100%;
        padding-bottom: 300px;
}

h2 {
    margin-right: 600px;
    color: white;
    font-family: "arlon";
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    justify-content: space-around;
    margin-top: 0;
}

nav ul li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: "arlon";
}

.presentation-a {
    text-align: center;
    margin-right: 300px;
    margin-top: 300px;
}

/* Présentation du Mr */

#hi {
    color: #595a60;
}

#iam {
    color: #41454e;
    font-size: 50px;
}

#p-pre {
    color: #3c3c3e;
    letter-spacing: 3px;
}

#btn-pre {
    background-color: #695aa6;
    border-radius: 10px;
    color: white;
}

/* Section 1 */

.container1-a {
    column-count: 2;
}

.sec1-a {
    margin-top: 200px;
}

#img-man {
    margin-left: 250px;
}

.column2 {
    margin-right: 150px;
}

/* texte section 1 */

.sec2-a {
    margin-bottom: 200px;
}

.aboutme {
    color: #695aa6;
    font-family: "arlon";
    font-size: 25px;
}

.aboutme2 {
    color: #695aa6;
    font-family: "arlon";
    font-size: 20px;
}

p {
    font-family: "arlon";
    color: gray;
    font-weight: lighter;
}

#btn-cv {
    color: #7d6fb7;
    background-color: white;
    border-radius: 15px;
}

.service {
    text-align: center;
    margin-top: 200px;
}

/* Service */

.img-a {
    border: 1px black solid;
    padding: 60px;
    height: 100px;
    width: 100px;
    text-align: center;
}

.service-img-a {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}

/* Portfolio */ 

.portfolio {
    text-align: center;
}

.container2 {
    column-count: 3;
    column-gap: 80px;
    display: flex;
    justify-content: center;
}

/* Footer */ 

.aboutme3 {
    color: #695aa6;
    font-family: "arlon";
    font-size: 20px;
}

.contactme {

        text-align: center;
        margin-top: 200px;

}

.div-footer ul {

    display: flex;
    list-style: none;;
    justify-content: space-around;
}

.div-footer li {

    color: #6c757d;
    font-size: 18px;
    font-weight: bold;
    font-family: "arlon";
}

#h2-footer {
    color: #695aa6;
}

.div-textarea {
    text-align: center;
    justify-content: center;
    display: flex;
}

#btn-area {
    color: #7d6fb7;
    background-color: white;
    border-radius: -10px;
    justify-content: center;
}

.btn-area {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
}

#hr-footer {
    width: 80%;

}

#copyright {
    font-family: "arlon";
    color: gray;
    font-weight: lighter;
    margin-left: 140px;
    font-size: 14px;  
}

/* Rectangle In */
.hvr-rectangle-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
    color: white;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}
