.portfolio-m {
    display: flex;
    position: relative;
    margin: 10%;
    padding: 10%;
    border: 2px solid black;
    justify-content: center;
    height: 20vw;

}

.portfolio-m span {
    position: absolute;
    display: flex;
    color: black;
    text-align: center;
    top: 20%;


}

.portfolio-m p {
    position: absolute;
    display: flex;
    color: blue;
    text-align: center;
    top: 20%;
    font-weight: bolder;
    font-size: xx-large;

}

.portfolio-img-m {
    position: absolute;
    display: flex;
    height: 250px;
    width: 250px;
    padding-top: 7%;
    justify-content: center;
}

.portfolio-img-m img {
    margin-right: 15px;
    justify-content: center;
    align-items: center;

}